<!DOCTYPE html>
<html lang="en">


<!-- forgot-password14-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Multipurpose HTML5 Business Template">
    <meta name="author" content="Shreethemes">

    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Alita - A Responsive Multipurpose HTML Template</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Magnificpopup Css -->
    <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">

    <!-- Bootstrap core CSS -->
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/fontawesome.css" rel="stylesheet">
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet">

    <!--Slider-->
        <link rel="stylesheet" href="css/slick.css"/> 
    <link rel="stylesheet" href="css/slick-theme.css"/> 

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/menu.css" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet">

</head>

    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>

        <!-- Navigation Bar-->
        <section class="bg-home" style="background-image: url('images/home/bg-login.jpg');">
            <div class="bg-overlay"></div>
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6 col-lg-4">
                                <div class="bg-white p-30 rounded box-shadow">
                                    <div class="text-center">
                                        <h4><a href="index-2.html"><img src="images/logo.png" height="20" alt="logo"></a></h4>
                                        <div class="spacer-15"></div>
                                    </div>
                                    <form class="login-form">
                                        <div class="row">
                                            <div class="col-lg-12 mt-2">
                                                <h4 class="text-uppercase font-weight-bold">Recover Account</h4>
                                                <label class="f-12">Enter your email address to get reset link</label>
                                                <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                            </div>
                                            <div class="col-lg-12 mt-3 mb-4">
                                                <button class="btn btn-custom w-100">Send</button>
                                            </div>
                                            <div class="mx-auto">
                                                <p class="mb-0"><small class="text-dark mr-2">We'll sent you reset link in your email</small></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- HOME END--> 

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- Portfolio -->
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/isotope.js"></script>
        <!-- Carousel -->
        <script src="js/slick.min.js"></script> 
        <script src="js/slick.init.js"></script>
        <!--custom script-->
        <script src="js/app.js"></script>

    </body>


<!-- forgot-password14-->
</html>