
<!DOCTYPE html>
<html lang="en">


<!-- elements-form-inputs25-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Multipurpose HTML5 Business Template">
    <meta name="author" content="Shreethemes">

    <link rel="shortcut icon" href="images/favicon.ico">

    <title>Alita - A Responsive Multipurpose HTML Template</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Magnificpopup Css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.css">

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="/assets/css/fontawesome.css" rel="stylesheet">
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet">

    <!--Slider-->
        <link rel="stylesheet" href="/assets/css/slick.css"/> 
    <link rel="stylesheet" href="/assets/css/slick-theme.css"/> 

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/menu.css" rel="stylesheet">
    <link href="/assets/css/default.css" rel="stylesheet">

</head>

    <body>
        <!-- Loader -->
        <div id="preloader">
            <div id="status">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>

        <!-- Navigation Bar-->
        <div class="tagline hidden-md">
            <div class="container">
                <div class="float-left">
                    <div class="phone">
                        <i class="fas fa-phone"></i> +1 123 456 78 90
                    </div>
                </div>
                <div class="float-right">
                    <ul class="top_socials">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        
        <!-- Navigation Bar-->
        <header id="topnav" class="defaultscroll fixed-top navbar-sticky sticky">
            <div class="container">
                <!-- Logo container-->
                <div>
                    <a href="index-2.html" class="logo">
                        <img src="images/logo.png" alt="missing_logo" height="20">
                    </a>
                </div>
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>

                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">
                        <li class="has-submenu">
                            <a href="#">Home</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li class="has-submenu"><a href="javascript:void(0)">Business</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="index-2.html">Business one</a></li>                                
                                        <li><a href="business-2.html">Business Two</a></li>                                
                                        <li><a href="business-3.html">Business Three</a></li>                                
                                        <li><a href="business-4.html">Business Four</a></li>
                                    </ul>  
                                </li>
                                <li class="has-submenu"><a href="javascript:void(0)">Agency</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="agency-1.html">Agency One</a></li>                                
                                        <li><a href="agency-2.html">Agency Two</a></li>                                
                                        <li><a href="agency-3.html">Agency Three</a></li>    
                                    </ul>  
                                </li>
                                <li class="has-submenu"><a href="javascript:void(0)">Landing Page</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="landing-1.html">Landing One</a></li>
                                        <li><a href="landing-2.html">Landing Two</a></li>
                                        <li><a href="landing-3.html">Landing Three</a></li>
                                    </ul>  
                                </li>
                                <li class="has-submenu"><a href="javascript:void(0)">Resume</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="resume-1.html">Resume one</a></li>
                                        <li><a href="resume-2.html">Resume Two</a></li>
                                    </ul>  
                                </li>
                                <li><a href="one-page.html">One Page</a></li>                                            
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">About</a><span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="about.html">About</a></li>
                                <li><a href="history.html">History</a></li>
                                <li class="has-submenu"><a href="javascript:void(0)">Services</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="service-image.html">Service With Image</a></li>
                                        <li><a href="service-detail.html">Single Service</a></li>
                                    </ul>
                                </li>  
                                <li class="has-submenu"><a href="javascript:void(0)">Team Members</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="team-grid.html">Grid Teams</a></li>
                                        <li><a href="team-list.html">List Teams</a></li>
                                        <li><a href="team-detail.html">Single Team</a></li>
                                    </ul>
                                </li>
                                <li class="has-submenu"><a href="javascript:void(0)">Work</a><span class="submenu-arrow"></span>
                                    <ul class="submenu">
                                        <li><a href="work-col-three.html">Three Column Portfolio</a></li>                                 
                                        <li><a href="work-col-four.html">Four Column Portfolio</a></li>                                 
                                        <li><a href="work-col-six.html">Six Column Portfolio</a></li>                                 
                                        <li><a href="work-single.html">Single Portfolio</a></li>                                
                                    </ul>
                                </li>
                            </ul> 
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">Pages</a>
                            <span class="menu-arrow"></span>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li><a href="faq.html"><b class="mdi mdi-chevron-right"></b> FAQ's</a></li>
                                        <li><a href="price.html"><b class="mdi mdi-chevron-right"></b> Pricing Table</a></li>
                                        <li><a href="privacy.html"><b class="mdi mdi-chevron-right"></b> Privacy Policy</a></li>
                                        <li><a href="login.html"><b class="mdi mdi-chevron-right"></b> Log In</a></li>
                                        <li><a href="signup.html"><b class="mdi mdi-chevron-right"></b> Sign Up</a></li>
                                        <li><a href="forgot-password.html"><b class="mdi mdi-chevron-right"></b> Forgot Password</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="working-process.html"><b class="mdi mdi-chevron-right"></b> Work Process</a></li>
                                        <li><a href="contact.html"><b class="mdi mdi-chevron-right"></b> Contact Us</a></li>
                                        <li><a href="blank-page.html"><b class="mdi mdi-chevron-right"></b> Blank Page</a></li>
                                        <li><a href="coming-soon.html"><b class="mdi mdi-chevron-right"></b> Coming soon</a></li>
                                        <li><a href="404.html"><b class="mdi mdi-chevron-right"></b> 404! Error</a></li>
                                        <li><a href="500.html"><b class="mdi mdi-chevron-right"></b> 500! Error</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">Blog</a>
                            <span class="menu-arrow"></span>
                            <ul class="submenu">
                                <li><a href="blog.html">Blog</a></li> 
                                <li><a href="blog-left.html">Left Sidebar</a></li> 
                                <li><a href="blog-right.html">Right Sidebar</a></li> 
                                <li><a href="blog-single.html">Single BLog</a></li>                                
                            </ul>
                        </li>

                        <li class="has-submenu">
                            <a href="javascript:void(0)">Elements</a>
                            <span class="menu-arrow"></span>
                            <ul class="submenu megamenu">
                                <li>
                                    <ul>
                                        <li><a href="elements-accordions.html"><b class="mdi mdi-chevron-right"></b> Accordion</a></li>
                                        <li><a href="elements-alert.html"><b class="mdi mdi-chevron-right"></b> Alert</a></li>
                                        <li><a href="elements-button.html"><b class="mdi mdi-chevron-right"></b> Button</a></li>
                                        <li><a href="elements-blockquote.html"><b class="mdi mdi-chevron-right"></b> Blockquote</a></li>
                                        <li><a href="elements-bg.html"><b class="mdi mdi-chevron-right"></b> Backgroud Color</a></li>
                                        <li><a href="elements-breadcrumbs.html"><b class="mdi mdi-chevron-right"></b> Breadcrumbs</a></li>
                                        <li><a href="elements-boxed.html"><b class="mdi mdi-chevron-right"></b> Boxed</a></li>
                                        <li><a href="elements-cta.html"><b class="mdi mdi-chevron-right"></b> Call To Action</a></li>
                                        <li><a href="elements-dropcap.html"><b class="mdi mdi-chevron-right"></b> Dropcap</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="elements-dropdown.html"><b class="mdi mdi-chevron-right"></b> Dropdown</a></li>
                                        <li><a href="elements-funfactors.html"><b class="mdi mdi-chevron-right"></b> Fun Factors</a></li>
                                        <li><a href="elements-form-inputs.html"><b class="mdi mdi-chevron-right"></b> Form Inputs</a></li>
                                        <li><a href="elements-grid-structure.html"><b class="mdi mdi-chevron-right"></b> Grid Structure</a></li>
                                        <li><a href="elements-gallery.html"><b class="mdi mdi-chevron-right"></b> Gallery</a></li>
                                        <li><a href="elements-highlights.html"><b class="mdi mdi-chevron-right"></b> Highlights</a></li>
                                        <li><a href="elements-material-icons.html"><b class="mdi mdi-chevron-right"></b> Material Icons</a></li>
                                        <li><a href="elements-pe-7-icons.html"><b class="mdi mdi-chevron-right"></b> Pe-7 Icons </a></li>
                                        <li><a href="elements-fontawesome.html"><b class="mdi mdi-chevron-right"></b> Font Awesome Icons </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="elements-images.html"><b class="mdi mdi-chevron-right"></b> Images</a></li>
                                        <li><a href="elements-labels.html"><b class="mdi mdi-chevron-right"></b> Labels</a></li>
                                        <li><a href="elements-lightbox.html"><b class="mdi mdi-chevron-right"></b> Lightbox</a></li>
                                        <li><a href="elements-modals.html"><b class="mdi mdi-chevron-right"></b> Modals</a></li>
                                        <li><a href="elements-progress-bar.html"><b class="mdi mdi-chevron-right"></b> Progress Bar</a></li>
                                        <li><a href="elements-parallax.html"><b class="mdi mdi-chevron-right"></b> Parallax</a></li>
                                        <li><a href="elements-pagination.html"><b class="mdi mdi-chevron-right"></b> Pagination</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul>
                                        <li><a href="elements-tab.html"><b class="mdi mdi-chevron-right"></b> Tab</a></li>
                                        <li><a href="elements-tooltip-popovers.html"><b class="mdi mdi-chevron-right"></b> Tooltip &amp; Popovers</a></li>
                                        <li><a href="elements-typography.html"><b class="mdi mdi-chevron-right"></b> Typography</a></li>
                                        <li><a href="elements-tables.html"><b class="mdi mdi-chevron-right"></b> Tables</a></li>
                                        <li><a href="elements-timeline.html"><b class="mdi mdi-chevron-right"></b> Timeline</a></li>
                                        <li><a href="elements-testimonials.html"><b class="mdi mdi-chevron-right"></b> Testimonials</a></li>
                                        <li><a href="elements-video.html"><b class="mdi mdi-chevron-right"></b> Video</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown d-none d-md-inline-block">
                            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                                aria-haspopup="false" aria-expanded="false">
                                <i class="fas fa-search noti-icon"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-search">
                                <div>
                                    <form role="search" class="navbar-form">
                                        <input type="text" placeholder="Search..." name="s" class="form-control search-bar">
                                        <a href="#" class="btn-search"><i class="fa fa-search"></i></a>
                                    </form>
                                </div>

                            </div>
                        </li>
                    </ul>
                    <!-- End navigation menu-->
                </div>
            </div>
        </header>
        <!-- End Navigation Bar-->
        
        <!-- HOME START-->
        <section class="bg-half" style="background-image: url('images/home/bg-elements.jpg');">
            <div class="bg-overlay"></div>
            <div class="home-center">
                <div class="home-desc-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="page-next-level text-white">
                                    <h4 class="text-uppercase">Form Elements</h4>
                                    <div class="page-next"> <a href="index-2.html">Home</a> <i class="mdi mdi-chevron-right"></i> &nbsp;<a href="#">Elements</a> <i class="mdi mdi-chevron-right"></i> &nbsp;<span>Form inputs</span> </div>
                                </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- HOME END--> 

        <!--  -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h4>Default Form</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <div class="custom-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <input name="name" id="name" type="text" class="form-control" placeholder="Your name :">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email :">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <textarea name="comments" id="comments" rows="3" class="form-control" placeholder="Enter message :"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom w-100" value="Send Message">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Form Style One</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <div class="custom-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group app-label">
                                                    <input name="name" id="name1" type="text" class="form-control" placeholder="Your name :">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group app-label">
                                                    <input name="email" id="email1" type="email" class="form-control" placeholder="Your email :">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <textarea name="comments" id="comments1" rows="3" class="form-control" placeholder="Enter message :"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" id="submit1" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Gray Background</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <div class="custom-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group app-label">
                                                    <input name="name" id="name2" type="text" class="form-control bg-grey" placeholder="Your name :">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group app-label">
                                                    <input name="email" id="email2" type="email" class="form-control bg-grey" placeholder="Your email :">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <textarea name="comments" id="comments2" rows="3" class="form-control bg-grey" placeholder="Enter message :"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-right">
                                                <input type="submit" id="submit2" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Inline Form</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <div class="custom-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group app-label">
                                                    <input name="name" id="name3" type="text" class="form-control bg-grey" placeholder="Your name :">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group app-label">
                                                    <input name="email" id="email3" type="email" class="form-control bg-grey" placeholder="Your email :">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="submit" id="submit3" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Radio Button</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form>
                                    <input type="radio" name="sex" id="male">
                                    <label for="male">Male</label>
                                    <input type="radio" name="sex" id="female">
                                    <label for="female">Female</label>
                                    <input type="radio" name="sex" id="other">
                                    <label for="female">Custom</label>
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Checkboxes</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form>
                                    <input type="checkbox" name="sports" id="soccer">
                                    <label for="soccer">Soccer</label>
                                    <input type="checkbox" name="sports" id="cricket">
                                    <label for="cricket">Cricket</label>
                                    <input type="checkbox" name="sports" id="baseball">
                                    <label for="baseball">Baseball</label>
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>File Select box</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form>
                                    <label for="file-select">Upload:</label>
                                    <input type="file" name="upload" id="file-select">
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Select Boxes</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form>
                                    <label for="city">City:</label>
                                    <select name="city" id="city">
                                        <option value="sydney">Sydney</option>
                                        <option value="melbourne">Melbourne</option>
                                        <option value="cromwell">Cromwell</option>
                                        <option value="cromwell">Surat</option>
                                        <option value="cromwell">Karachi</option>
                                        <option value="cromwell">Wochington</option>
                                        <option value="cromwell">Dubai</option>
                                    </select>
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Submit and Reset Buttons</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form action="https://alita.netlify.com/layouts/action.php" method="post" id="users">
                                    <label for="first-name">First Name:</label>
                                    <input type="text" name="first-name" id="first-name">
                                    <input type="submit" value="Submit">
                                    <input type="reset" value="Reset">
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Login input</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form class="login-form">
                                    <div class="row">
                                        <div class="col-md-6 mt-2">
                                            <label class="f-12">Email</label>
                                            <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                        </div>

                                        <div class="col-md-6 mt-2">
                                            <label class="">Password</label>
                                            <input type="password" class="form-control" placeholder="Password" required="">
                                        </div>

                                        <div class="col-md-12 mt-2">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3 mb-4">
                                            <button class="btn btn-custom w-100">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4"> 
                        <div class="ml-lg-4">
                            <h4 class="text-uppercase">Elements</h4>
                            <span class="bar"></span>
                            <div class="element-sidebar">
                                <ul class="list-unstyled">
                                    <li><a href="elements-accordions.html"><b class="mdi mdi-chevron-right"></b> Accordion</a></li>
                                    <li><a href="elements-alert.html"><b class="mdi mdi-chevron-right"></b> Alert</a></li>
                                    <li><a href="elements-button.html"><b class="mdi mdi-chevron-right"></b> Button</a></li>
                                    <li><a href="elements-blockquote.html"><b class="mdi mdi-chevron-right"></b> Blockquote</a></li>
                                    <li><a href="elements-bg.html"><b class="mdi mdi-chevron-right"></b> Backgroud Color</a></li>
                                    <li><a href="elements-breadcrumbs.html"><b class="mdi mdi-chevron-right"></b> Breadcrumbs</a></li>
                                    <li><a href="elements-boxed.html"><b class="mdi mdi-chevron-right"></b> Boxed</a></li>
                                    <li><a href="elements-cta.html"><b class="mdi mdi-chevron-right"></b> Call To Action</a></li>
                                    <li><a href="elements-dropcap.html"><b class="mdi mdi-chevron-right"></b> Dropcap</a></li>
                                    <li><a href="elements-dropdown.html"><b class="mdi mdi-chevron-right"></b> Dropdown</a></li>
                                    <li><a href="elements-funfactors.html"><b class="mdi mdi-chevron-right"></b> Fun Factors</a></li>
                                    <li><a href="elements-form-inputs.html"><b class="mdi mdi-chevron-right"></b> Form Inputs</a></li>
                                    <li><a href="elements-grid-structure.html"><b class="mdi mdi-chevron-right"></b> Grid Structure</a></li>
                                    <li><a href="elements-gallery.html"><b class="mdi mdi-chevron-right"></b> Gallery</a></li>
                                    <li><a href="elements-highlights.html"><b class="mdi mdi-chevron-right"></b> Highlights</a></li>
                                    <li><a href="elements-images.html"><b class="mdi mdi-chevron-right"></b> Images</a></li>
                                    <li><a href="elements-labels.html"><b class="mdi mdi-chevron-right"></b> Labels</a></li>
                                    <li><a href="elements-lightbox.html"><b class="mdi mdi-chevron-right"></b> Lightbox</a></li>
                                    <li><a href="elements-modals.html"><b class="mdi mdi-chevron-right"></b> Modals</a></li>
                                    <li><a href="elements-progress-bar.html"><b class="mdi mdi-chevron-right"></b> Progress Bar</a></li>
                                    <li><a href="elements-parallax.html"><b class="mdi mdi-chevron-right"></b> Parallax</a></li>
                                    <li><a href="elements-pagination.html"><b class="mdi mdi-chevron-right"></b> Pagination</a></li>
                                    <li><a href="elements-tab.html"><b class="mdi mdi-chevron-right"></b> Tab</a></li>
                                    <li><a href="elements-tooltip-popovers.html"><b class="mdi mdi-chevron-right"></b> Tooltip &amp; Popovers</a></li>
                                    <li><a href="elements-typography.html"><b class="mdi mdi-chevron-right"></b> Typography</a></li>
                                    <li><a href="elements-tables.html"><b class="mdi mdi-chevron-right"></b> Tables</a></li>
                                    <li><a href="elements-timeline.html"><b class="mdi mdi-chevron-right"></b> Timeline</a></li>
                                    <li><a href="elements-testimonials.html"><b class="mdi mdi-chevron-right"></b> Testimonials</a></li>
                                    <li><a href="elements-video.html"><b class="mdi mdi-chevron-right"></b> Video</a></li>
                                    <li><a href="elements-material-icons.html"><b class="mdi mdi-chevron-right"></b> Material Icons</a></li>
                                    <li><a href="elements-pe-7-icons.html"><b class="mdi mdi-chevron-right"></b> Pe-7 Icons </a></li>
                                    <li><a href="elements-fontawesome.html"><b class="mdi mdi-chevron-right"></b> Font Awesome Icons </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--  -->

        

        <!-- PARTNER START -->
        <section class="section-two bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="slider autoplay">
                            <div><img src="/assets/images/client/partner-1.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="images/client/partner-2.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="images/client/partner-3.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="images/client/partner-4.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="images/client/partner-5.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="images/client/partner-1.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="images/client/partner-2.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="images/client/partner-3.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="images/client/partner-4.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                            <div><img src="images/client/partner-5.png" class="mx-auto d-block img-fluid" alt="img-missing"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- PARTNER END -->

        <!-- js placed at the end of the document so the pages load faster -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <!-- Portfolio -->
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/isotope.js"></script>
        <!-- Carousel -->
        <script src="/assets/js/slick.min.js"></script> 
        <script src="/assets/js/slick.init.js"></script> 
        <!--custom script-->
        <script src="/assets/js/app.js"></script>
        
    </body>

<!-- elements-form-inputs25-->
</html>