form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  select,
  textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  li h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
  
  li p {
    font-size: 18px;
    margin: 10px 0 0 0;
    text-align: justify;
  }
  
  li button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  li button:hover {
    background-color: #0062cc;
  }
  
  .info-generales {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .info-generales legend {
    font-weight: bold;
  }
  