<app-header-user></app-header-user>

<h2>Publications List</h2>
<fieldset class="info-generales">

<ul>
  <li *ngFor="let publication of publications">
    <div class="publication-item">
    <img [src]="publication.image" [alt]="publication.titrePub">
    <h3>{{ publication.titrePub }}</h3>
    <p>{{ publication.contenuPub }}</p>
    <button (click)="onDeletePublication(publication.idPub)">Delete</button>
    <button (click)="onUpdatePublication(publication.idPub,publication)">Update</button>
    </div>
  </li>
</ul>
</fieldset>



<app-footer-user></app-footer-user>

