
<html>
    <body>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <h4>Default Form</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <div class="custom-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <input name="name" id="name" type="text" class="form-control" placeholder="Your name :">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <input name="email" id="email" type="email" class="form-control" placeholder="Your email :">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <textarea name="comments" id="comments" rows="3" class="form-control" placeholder="Enter message :"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom w-100" value="Send Message">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Form Style One</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <div class="custom-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group app-label">
                                                    <input name="name" id="name1" type="text" class="form-control" placeholder="Your name :">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group app-label">
                                                    <input name="email" id="email1" type="email" class="form-control" placeholder="Your email :">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <textarea name="comments" id="comments1" rows="3" class="form-control" placeholder="Enter message :"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input type="submit" id="submit1" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Gray Background</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <div class="custom-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group app-label">
                                                    <input name="name" id="name2" type="text" class="form-control bg-grey" placeholder="Your name :">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group app-label">
                                                    <input name="email" id="email2" type="email" class="form-control bg-grey" placeholder="Your email :">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-group app-label">
                                                    <textarea name="comments" id="comments2" rows="3" class="form-control bg-grey" placeholder="Enter message :"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 text-right">
                                                <input type="submit" id="submit2" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Inline Form</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <div class="custom-form">
                                    <form>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group app-label">
                                                    <input name="name" id="name3" type="text" class="form-control bg-grey" placeholder="Your name :">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group app-label">
                                                    <input name="email" id="email3" type="email" class="form-control bg-grey" placeholder="Your email :">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <input type="submit" id="submit3" name="send" class="submitBnt btn btn-custom" value="Send Message">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Radio Button</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form>
                                    <input type="radio" name="sex" id="male">
                                    <label for="male">Male</label>
                                    <input type="radio" name="sex" id="female">
                                    <label for="female">Female</label>
                                    <input type="radio" name="sex" id="other">
                                    <label for="female">Custom</label>
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Checkboxes</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form>
                                    <input type="checkbox" name="sports" id="soccer">
                                    <label for="soccer">Soccer</label>
                                    <input type="checkbox" name="sports" id="cricket">
                                    <label for="cricket">Cricket</label>
                                    <input type="checkbox" name="sports" id="baseball">
                                    <label for="baseball">Baseball</label>
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>File Select box</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form>
                                    <label for="file-select">Upload:</label>
                                    <input type="file" name="upload" id="file-select">
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Select Boxes</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form>
                                    <label for="city">City:</label>
                                    <select name="city" id="city">
                                        <option value="sydney">Sydney</option>
                                        <option value="melbourne">Melbourne</option>
                                        <option value="cromwell">Cromwell</option>
                                        <option value="cromwell">Surat</option>
                                        <option value="cromwell">Karachi</option>
                                        <option value="cromwell">Wochington</option>
                                        <option value="cromwell">Dubai</option>
                                    </select>
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Submit and Reset Buttons</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form action="https://alita.netlify.com/layouts/action.php" method="post" id="users">
                                    <label for="first-name">First Name:</label>
                                    <input type="text" name="first-name" id="first-name">
                                    <input type="submit" value="Submit">
                                    <input type="reset" value="Reset">
                                </form>
                            </div>
                        </div>

                        <div class="mt-5">
                            <h4>Login input</h4>
                            <span class="bar"></span>

                            <div class="mt-4">
                                <form class="login-form">
                                    <div class="row">
                                        <div class="col-md-6 mt-2">
                                            <label class="f-12">Email</label>
                                            <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                        </div>

                                        <div class="col-md-6 mt-2">
                                            <label class="">Password</label>
                                            <input type="password" class="form-control" placeholder="Password" required="">
                                        </div>

                                        <div class="col-md-12 mt-2">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-3 mb-4">
                                            <button class="btn btn-custom w-100">Sign in</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                   
                </div>
            </div>
        </section>
        <!--  -->

        

        <!-- PARTNER START -->
        
        <!-- PARTNER END -->

       

       
    </body>
</html>