<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-8 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2 class="tm-block-title d-inline-block">Events</h2>

                </div>
                <div class="col-md-4 col-sm-12 text-right">
                    <a [routerLink]="['/createUsers']" class="btn btn-small btn-primary">Add New Event</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped tm-table-striped-even mt-3">
                    <thead>
                        <tr class="tm-bg-gray">
                         
                          <th scope="col" class="text-center">Title</th>
                          <th scope="col" class="text-center">Description</th>
                          <th scope="col" class="text-center">type</th>
                          <th scope="col"class="text-center">max participants</th>
                          <th scope="col"class="text-center">location</th>
                          <th scope="col"class="text-center">date debut</th>
                          <th scope="col"class="text-center">date fin</th>
                          <th scope="col">Actions</th>
                         
                         
                         
                         
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor = "let fct of user">
                           
                          <td>{{ fct.email }}</td>
        <td class="text-center">{{ fct.username }}</td>
        <td class="text-center">{{ fct.password }}</td>

                           
                        
                            <td class="text-center"><i class="fas fa-trash-alt tm-trash-icon" (click) = "deleteUser(fct.id)"></i>
                              <br>
                            
                            </td>
                        </tr>
                       
                      
                    </tbody>
                </table>
            </div>

            
        </div>
    </div>
